//- facebook
meta(property="og:description", content="Brand Activation & Luxury Events")
meta(property="og:title", content="Golden Mama")
meta(property="og:image:width", content="1333")
meta(property="og:image:height", content="2000")
meta(property="og:image", content="https://goldenmama.herokuapp.com/img/og.jpg/og-image.jpg")
meta(property="og:url", content="https://goldenmama.herokuapp.com")
meta(property='og:type', content='article')
meta(property='article:section', content='Article Section')

//- //- twitter
//- meta(name='twitter:card', content='summary_large_image')
//- meta(name='twitter:site', content='@theshaders')
//- meta(name='twitter:creator', content='@theshaders')
//- meta(name='twitter:title', content= title)
//- meta(name='twitter:description', content= desc)
//- meta(name='twitter:image', content='https://storage.googleapis.com/shdrs/tw_image.jpg')
