//- facebook
meta(property='og:title' content= title)
meta(property='og:type', content='article')
meta(property='og:url', content='https://www.theshaders.tv')
meta(property='og:image', content='/images/fb_img.jpg')
meta(property='og:description', content= desc)
meta(property='article:section', content='Article Section')

//- twitter
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@theshaders')
meta(name='twitter:creator', content='@theshaders')
meta(name='twitter:title', content= title)
meta(name='twitter:description', content= desc)
meta(name='twitter:image', content='https://storage.googleapis.com/shdrs/tw_image.jpg')
