video.mama.loop.muted(muted='', loop='', preload='', playsinline='')
  //- source(src='video/MAMA_portrait.mp4', type='video/mp4', media='screen and (max-device-width: 42em)')
  //- source(src='video/MAMA_portrait.webm', type='video/webm', media='screen and (max-device-width: 42em)')
  //- source(src='video/MAMA.mp4', type='video/mp4')
  //- source(src='video/MAMA.webm', type='video/webm')
  source(src='https://storage.googleapis.com/goldenmama/MAMA_portrait.mp4', type='video/mp4', media='screen and (max-device-width: 42em)')
  source(src='https://storage.googleapis.com/goldenmama/MAMA_portrait.webm', type='video/webm', media='screen and (max-device-width: 42em)')
  source(src='https://storage.googleapis.com/goldenmama/MAMA.mp4', type='video/mp4')
  source(src='https://storage.googleapis.com/goldenmama/MAMA.webm', type='video/webm')

video.guru.loop.muted(muted='', loop='', preload='', playsinline='')
  //- source(src='video/GURU_portrait.mp4', type='video/mp4', media='screen and (max-device-width: 42em)')
  //- source(src='video/GURU_portrait.webm', type='video/webm', media='screen and (max-device-width: 42em)')
  //- source(src='video/GURU.mp4', type='video/mp4')
  //- source(src='video/GURU.webm', type='video/webm')
  source(src='https://storage.googleapis.com/goldenmama/GURU_portrait.mp4', type='video/mp4', media='screen and (max-device-width: 42em)')
  source(src='https://storage.googleapis.com/goldenmama/GURU_portrait.webm', type='video/webm', media='screen and (max-device-width: 42em)')
  source(src='https://storage.googleapis.com/goldenmama/GURU.mp4', type='video/mp4')
  source(src='https://storage.googleapis.com/goldenmama/GURU.webm', type='video/webm')
