.object-fit-container
    video.mama.loop.muted(preload, muted='', loop='', playsinline='', srcset='https://storage.googleapis.com/goldenmama/MAMA_portrait.mp4 720w, https://storage.googleapis.com/goldenmama/MAMA.mp4 1920w', data-object-fit="cover")

.object-fit-container
    video.guru.loop.muted(preload, muted='', loop='', playsinline='', srcset='https://storage.googleapis.com/goldenmama/GURU_portrait.mp4 720w, https://storage.googleapis.com/goldenmama/GURU.mp4 1920w', data-object-fit="cover")
