video.mama.loop.muted(muted='', loop='', preload='', playsinline='')
  //- source(src='https://storage.googleapis.com/goldenmama/MAMA.webm', type='video/webm')
  source(src='https://storage.googleapis.com/goldenmama/MAMA.mp4', type='video/mp4')

video.guru.loop.muted(muted='', loop='', preload='', playsinline='')
  //- source(src='https://storage.googleapis.com/goldenmama/GURU.webm', type='video/webm')
  source(src='https://storage.googleapis.com/goldenmama/GURU.mp4', type='video/mp4')
