video.mama.loop.muted(muted='', loop='', playsinline='', srcset='https://storage.googleapis.com/goldenmama/MAMA_portrait.mp4 720w, https://storage.googleapis.com/goldenmama/MAMA.mp4 1920w', data-object-fit)

video.guru.loop.muted(muted='', loop='', playsinline='', srcset='https://storage.googleapis.com/goldenmama/GURU_portrait.mp4 720w, https://storage.googleapis.com/goldenmama/GURU.mp4 1920w', data-object-fit)
