extends layout

block content
  .root
    .golden-mama.loaded
      .g
        include ../public/img/golden-mama-logo.svg
      video.loop.muted(autoplay='', muted='', loop='', preload='auto', playsinline='')
        source(src='https://storage.cloud.google.com/goldenmama/GOLDENMAMA.mp4', type='video/mp4')

      .claim
        p
          | Date your target
        p
          | We create strategic conversations
        p
          | To produce sensitive relationships
        p
          | Building trust before gaining growth.
        p
          | You’ll thank us later.

    .guru.loaded
      .g
        include ../public/img/guru-logo.svg

      video.loop.muted(autoplay='', muted='', loop='', preload='auto', playsinline='')
        source(src='https://storage.cloud.google.com/goldenmama/GURU.mp4', type='video/mp4')

      .claim

        p
          | Creatives at their finest
        p
          | We are thrill producers based in Paris,
        p
          | Transforming each moment into a daring experience
        p
          | All around the world.
        p
          | Savoir-faire is french, so are we.



