extends layout

block content
  .root
    .golden-mama
      .g
        include ../public/img/g.svg

      video.loop.muted(autoplay='', muted='', loop='', preload='auto', playsinline='')
        source(src='https://storage.cloud.google.com/goldenmama/GOLDENMAMA.mp4', type='video/mp4')

      .claim
        include ../public/img/golden-mama-logo.svg

        h2
          | DATE YOUR TARGET

        p
          | We create strategic conversations
          | to produce sensitive relationships
          | building trust before gaining growth.

        em
          | You’ll thank us later.

    .guru
      .g
        include ../public/img/g.svg

      video.loop.muted(autoplay='', muted='', loop='', preload='auto', playsinline='')
        source(src='https://storage.cloud.google.com/goldenmama/GURU.mp4', type='video/mp4')

      .claim
        include ../public/img/guru-logo.svg

        h2
          | CREATIVES AT THEIR FINEST

        p
          | We are thrill producers based in Paris,
          | transforming each moment into a daring experience
          | all around the world.

        em
          | Savoir-faire is french, so are we.



