extends layout

block content
  .root
    .golden-mama.loaded
      .logo
        include ../public/img/golden-mama-logo.svg

      .claim
        p
          | Date your target
        p
          | We create strategic conversations
          | To produce sensitive relationships
          | Building trust before gaining growth.
        p
          | You’ll thank us later.


    .guru.loaded
      .logo
        include ../public/img/guru-logo.svg

      .claim

        p
          | Creatives at their finest
        p
          | We are thrill producers based in Paris,
        p
          | Transforming each moment into a daring experience
        p
          | All around the world.
        p
          | Savoir-faire is french, so are we.

    video#mama.loop.muted(autoplay='', muted='', loop='', preload='auto', playsinline='')
      //- source(src='https://storage.cloud.google.com/goldenmama/GOLDENMAMA.mp4', type='video/mp4')
      //- source(src='video/MAMA.webm', type='video/webm')
      source(src='video/MAMA.mp4', type='video/mp4')

    video#guru.loop.muted(autoplay='', muted='', loop='', preload='auto', playsinline='')
      //- source(src='https://storage.cloud.google.com/goldenmama/GURU.mp4', type='video/mp4')
      //- source(src='video/GURU.webm', type='video/webm')
      source(src='video/GURU.mp4', type='video/mp4')


