/* reset */
  html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
  }

  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
  }

  ol,ul {
    list-style: none
  }

  blockquote,q {
    quotes: none
  }

  blockquote:before,blockquote:after,q:before,q:after {
    content: none
  }

  table {
    border-collapse: collapse;
    border-spacing: 0
  }

  * {
    box-sizing: border-box
  }

  strong {
    font-weight: bold;
  }

/* global */
  body, html {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-tap-highlight-color: 0;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: 'itc-avant-garde-gothic-pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    /*font-weight: 300;*/
    line-height: 1
  }

  body.noscroll {
    overflow: hidden;
  }

  .root{
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .golden-mama, .guru {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    /* display: flex; */
    /* align-items: center; */
    z-index: 1;
  }

  @media only screen and ( max-width: 42em) and ( max-aspect-ratio: 13/9 ) {
    .root {
      flex-direction: column;
    }
  }
  @media only screen and ( max-width:42em ) and ( min-aspect-ratio: 13/9 ) {
    .root {
      flex-direction: row;
    }
  }

  .root .logo {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    /* float: left; */
    /* height: 100vh; */
  }

  .root .guru .logo {
    width: 34%;
    margin-top: 1.5%;
  }

  .root .logo svg{
    width: 100%;
    /* transform: translateX(-50%) translateY(-50%); */
    /* left: 50%; */
    /* top: 50%; */
    /* position: absolute; */
  }

/* colors */
  .golden-mama {
    background: #2d2e83;
  }
/*  .golden-mama:hover {
    background: #fd386d;
  }*/
  .golden-mama .logo svg *,
  .golden-mama .claim svg * {
    fill: #fd386d;
  }
/*  .golden-mama:hover .logo svg * {
    fill: #2d2e83;
  }*/

  .guru {
    background: #e5e5e5;
  }
/*  .guru:hover {
    background: #343434;
  }*/
  .guru .logo svg *,
  .guru .claim svg *
  {
    fill: #343434;
  }
/*  .guru:hover .logo svg *{
    fill: #e5e5e5;
  }*/

  .golden-mama,
  .guru{
    cursor: progress;
  }
  .golden-mama.loaded,
  .guru.loaded{
    cursor: auto;
  }

/*  .loaded:hover .logo svg *{
    opacity: 0;
  }*/

/*
.guru,
.golden-mama,
.guru .logo svg *,
.golden-mama .logo svg * {
  transition: 0.3s ease-in;
}
*/

/* text */
  .claim{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /*transition: opacity 0.3s ease-out;*/
    opacity: 0;
    display: none;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    width: 70%;
    z-index: 1;
    /* flex-grow: 1; */
    /* height: 100vh; */
  }

  .claim p{
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
    /* width: 100%; */
  }

  /*.loaded:hover .claim{*/
  .loaded .claim{
    /* opacity: 1; */
  }
  .loaded .claim{
    /* display: block; */
  }

  .guru .claim{
     color: #e5e5e5;
  }
  .golden-mama .claim{
     color: #2d2e83;
  }


  /*
  .claim svg{
    width: 100%;
    height: auto;
  }
  */

/* video */
  .root video
  {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    pointer-events: none;
    /* display: none; */
  }
  .loaded video{
    /*display: block;*/
    /*opacity: 0;*/
  }

  .root video{
    opacity: 0;
  }

  /*.guru:hover video,
  .golden-mama:hover video{
    opacity: 1
  }*/


.gs-dev-tools{
  z-index: 1;
}