/* reset */
  html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
  }

  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
  }

  ol,ul {
    list-style: none
  }

  blockquote,q {
    quotes: none
  }

  blockquote:before,blockquote:after,q:before,q:after {
    content: none
  }

  table {
    border-collapse: collapse;
    border-spacing: 0
  }

  * {
    box-sizing: border-box
  }

  strong {
    font-weight: bold;
  }

/* global */
  @font-face {
    font-family: 'AvantGarde-ExtraLight';
    src: url('../fonts/AvantGarde-ExtraLight.eot');
    src: url('../fonts/AvantGarde-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvantGarde-ExtraLight.woff2') format('woff2'),
         url('../fonts/AvantGarde-ExtraLight.woff') format('woff'),
         url('../fonts/AvantGarde-ExtraLight.ttf') format('truetype'),
         url('../fonts/AvantGarde-ExtraLight.svg#AvantGarde-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
  }

  body, html {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-tap-highlight-color: 0;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: 'itc-avant-garde-gothic-pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    /*font-weight: 300;*/
    line-height: 1
  }

  body.noscroll {
    overflow: hidden;
  }

  .root{
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .golden-mama, .guru {
    position: relative;
    flex-grow: 1;
    /* overflow: hidden; */
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    /* display: flex; */
    /* align-items: center; */
    z-index: 1;
  }

  @media only screen and ( max-width: 42em) and ( max-aspect-ratio: 13/9 ) {
    .root {
      flex-direction: column;
    }
  }
  @media only screen and ( max-width:42em ) and ( min-aspect-ratio: 13/9 ) {
    .root {
      flex-direction: row;
    }
  }

  .logo{
    position: absolute;
    z-index: 1;
  }

  .guru .logo, .golden-mama .logo {
    width: 50%;
    height: auto;
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
  }

  .guru .logo {
    width: 34%;
    margin-top: 1.5%;
  }

  .logo svg{
    width: 100%;
    height: auto;
  }

  .logo .baseline{
    font-family: 'AvantGarde-ExtraLight';
    text-align: center;
    font-style: italic;
    position: absolute;
    width: 100%;
    bottom: -3em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: lighter;
  }

  .guru .baseline{
    color: #343434;
  }

  .golden-mama .baseline{
    color: #fd386d;
  }


/* colors */
  .golden-mama {
    background: rgb(45, 46, 131);
  }
/*  .golden-mama:hover {
    background: #fd386d;
  }*/
  .golden-mama .logo svg *,
  .golden-mama .claim svg * {
    fill: #fd386d;
  }
/*  .golden-mama:hover .logo svg * {
    fill: #2d2e83;
  }*/

  .guru {
    background: rgb(229, 229, 229);
  }
/*  .guru:hover {
    background: #343434;
  }*/
  .guru .logo svg *,
  .guru .claim svg *
  {
    fill: #343434;
  }
/*  .guru:hover .logo svg *{
    fill: #e5e5e5;
  }*/
/*
  .golden-mama,
  .guru{
    cursor: progress;
  }
  .golden-mama.loaded,
  .guru.loaded{
    cursor: auto;
  }
*/

/* text */
  .claim{
    position: absolute;
    bottom: 1vh;
    /* left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
    /* opacity: 0; */
    /* display: none; */
    font-size: 2em;
    width: 90%;
    z-index: 1;
    color: rgb(85, 85, 85);
    color: white;
    text-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
    height: 50vh;
  }

  .guru .claim{
    right: 3vh;
  }

  .guru .claim,
  .guru .claim p {
    text-align: right;
  }

  .claim p{
    position: absolute;
    bottom: 10vh;
    /* left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
    width: 100%;
    opacity: 0;
  }

  /*.loaded:hover .claim{*/
  .loaded .claim{
    /* opacity: 1; */
    /* display: block; */
    /* color: white; */
  }

  /*
  .claim svg{
    width: 100%;
    height: auto;
  }
  */

/* video */
  .root video
  {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    pointer-events: none;
    /* display: none; */
  }
  .loaded video{
    /*display: block;*/
    /*opacity: 0;*/
  }

  .root video{
    opacity: 0;
  }

  /*.guru:hover video,
  .golden-mama:hover video{
    opacity: 1
  }*/

  .controls{
    display: flex;
    position: absolute;
    z-index: 2;
    margin: 1vh;
    opacity: 0;
  }

  .controls > * {
    cursor: pointer;
    margin: 1vh;
    width: 3vh;
    height: auto;
  }

  .controls svg{
    width: 100%;
    height: auto;
  }

  .controls svg *{
    fill: #e5e5e5;
  }

  .controls .mute{
    position: relative;
	left: -5vh;
	opacity: 0;
  }

  .controls .close{
    transform: scale(0.85);
  }
  .controls .close path{
    stroke: transparent;
  }


.gs-dev-tools{
  z-index: 1;
}
