/* reset */
  html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
  }

  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
  }

  ol,ul {
    list-style: none
  }

  blockquote,q {
    quotes: none
  }

  blockquote:before,blockquote:after,q:before,q:after {
    content: none
  }

  table {
    border-collapse: collapse;
    border-spacing: 0
  }

  * {
    box-sizing: border-box
  }

  strong {
    font-weight: bold;
  }

/* global */
  @font-face {
    font-family: 'AvantGarde-ExtraLight';
    src: url('../fonts/AvantGarde-ExtraLight.eot');
    src: url('../fonts/AvantGarde-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvantGarde-ExtraLight.woff2') format('woff2'),
         url('../fonts/AvantGarde-ExtraLight.woff') format('woff'),
         url('../fonts/AvantGarde-ExtraLight.ttf') format('truetype'),
         url('../fonts/AvantGarde-ExtraLight.svg#AvantGarde-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
  }

  body, html {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-tap-highlight-color: 0;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: 'itc-avant-garde-gothic-pro', sans-serif;
    /*font-weight: 300;*/
    font-weight: 700;
    font-size: 16px;
    line-height: 1
  }

  body.noscroll {
    overflow: hidden;
  }

  .root{
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  article.mama,
  article.guru {
    position: relative;
    flex-grow: 1;
    z-index: 1;
    cursor: pointer;
  }

  @media only screen and ( max-width: 42em) and ( max-aspect-ratio: 13/9 ) {
    .root {
      flex-direction: column;
    }
  }
  @media only screen and ( max-width:42em ) and ( min-aspect-ratio: 13/9 ) {
    .root {
      flex-direction: row;
    }
  }

  .logo{
    position: absolute;
    z-index: 1;
  }

  .guru .logo,
  .mama .logo {
    width: 50%;
    height: auto;
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    /* border: 1px solid red; */
  }

  .guru .logo {
    width: 34%;
    margin-top: 1.5%;
  }

  .logo svg{
    width: 100%;
    height: auto;
  }

  .logo .baseline{
    font-family: 'AvantGarde-ExtraLight';
    text-align: center;
    font-style: italic;
    position: relative;
    width: 100%;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 6vh;
    line-height: 1em;
    white-space: nowrap;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
  }

  .guru .baseline{
    color: #343434;
    padding-top: 1.5vh;
  }

  .mama .baseline{
    color: #fd386d;
  }


/* colors */
  article.mama {
    background: #2d2e83;
  }
  article.guru {
    background: #e5e5e5;
  }

  .mama .logo svg *,
  .mama .claim svg * {
    fill: #fd386d;
  }

  .guru .logo svg *,
  .guru .claim svg *
  {
    fill: #343434;
  }

/* text */
  .claim{
    z-index: 2;
    position: absolute;
    bottom: 10vh;
    width: 90%;
    height: 50vh;
    font-size: 2em;
    color: white;
    text-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
  }

  .mama .claim{
    left: 2vh;
  }
  .guru .claim{
    right: 2vh;
  }
  .guru .claim,
  .guru .claim p {
    text-align: right;
  }

  .claim p{
    position: absolute;
    bottom: 1vh;
    width: 100%;
    opacity: 0;
  }

/* video */
  .root video
  {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    pointer-events: none;
  }

  .root video{
    opacity: 0;
  }

  .controls.guru{
    left: 0;
    right: auto;
  }
  .controls.mama{
    right: 0;
    left: auto;
  }

  .controls{
    display: flex;
    position: absolute;
    z-index: 2;
    margin: 1vh;
    opacity: 0;
    visibility: hidden;
  }

  .controls > * {
    cursor: pointer;
    margin: 1vh;
    width: 3vh;
    height: auto;
  }

  .controls svg{
    width: 100%;
    height: auto;
  }

  .controls svg *{
    fill: #e5e5e5;
  }

  .controls .mute{
    position: relative;
  }
  .controls.guru .mute{
    left: -5vh;
  }
  .controls.mama .mute{
    left: 5vh;
  }

  .controls .close{
    transform: scale(0.85);
  }
  .controls .close path{
    stroke: transparent;
  }


  button {
      -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
              box-sizing: content-box;
  }

  /* Reset `button` default styles */
  button {
      background: none;
      border: 0;
      color: inherit;
      cursor: pointer;
      font: inherit;
      line-height: normal;
      overflow: visible;
      padding: 0;
  }

  button:hover,
  button:focus {
      outline: none;
      outline-offset: -4px;
      border: 0;
      padding: 0;
  }
  input::-moz-focus-inner,
  button::-moz-focus-inner{
      outline: none;
      outline-offset: -4px;
      border: 0;
      padding: 0;
  }

  .contact{
  	position: absolute;
  	z-index: 2;
  	bottom: 5vh;
  	right: 5vh;
  	height: 42px;
  }
  .contact .toggle{
    position: relative;
    height: 42px;
    width: 42px;
    line-height: 52px;
    -webkit-appearance: inherit;
  }
  .contact .toggle .open,
  .contact .toggle .close{
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0;
  }

  .contact .toggle::before{
    display: block;
    content: '';
    position :absolute;
    z-index: -1;
    border-radius: 100%;
    background: #2d2e83;
    height: 42px;
    width: 42px;
    top: 0;
  }

  .contact .close svg{
    transform: scale(0.8)
  }

  .contact .close svg *{
   fill: white;
  }
  .contact .open svg *,
  .contact .expand svg *{
    fill: #fd386d;
  }

  .contact .expand a{
    line-height: 52px;
    text-decoration: none;
    margin: 0 10px;
  }

  .contact .expand,
  .contact .close {
    visibility: hidden;
    opacity: 0;
  }

  .contact .expand{
    position: absolute;
    top: 0;
    right: 100%;
    display: flex;
  }

  .gs-dev-tools{
    z-index: 1;
  }
